<!DOCTYPE html>
<html ng-app="DoMyTattoo">
	<head>
		<meta charset="UTF-8">
		<title>Enviar orcamento</title>
		<link rel="stylesheet" href="../css/formatacao.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<script src="../components/bootstrap/dist/js/bootstrap.js"></script>
	</head>
	
	<body ng-controller="detalhesCtrl">

		<nav class="navbar fixed-top navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<img src="../imagens/logo-domytattoo.png" class="img-responsive" alt="Logo" width="170px" style="padding-top: 8px;"/>

			<font size="3" style="color: white">{{usuario.name}}</font>

			<div class="collapse navbar-collapse" id="nav-content">   
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Mensagens</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Sair</a>
					</li>
				</ul>
			</div>
		</nav>

<div style="position: absolute; width: 100%; height: 100px; top: 20%; right: 21%;">
		<div class="main-login main-center" style = 'text-align: center; color: white;'>
			<font size="6">Responder orçamento</font> 
		</div>
	</div>

		<div class="container transparent">
			<div style="position: absolute; width: 200%; height: 10%; top: 30%; left: 18%;">
				<div class="row vertical-offset-100">
					<div class="col-md-4 col-md-offset-4" style = 'background-color: #545454;'>
						<div class="panel-body">
									<label class="panel-login">
										<div class="login_result"></div>
									</label>

					 				<div class="panel-heading">
										<div class="row-fluid user-row">
											<input class="form-control" value = {{orcamento.negotiations[0].tattooArtist.name}} id="Cliente" type="text" style ="background-color:rgba(0,0,0,0.5); color: white" disabled>
										</div>
									</div>


									<form class="form-inline">
									  	<div class="col-xs-2">
									  		<input class="form-control" id="Local do corpo" type="text" value = {{orcamento.place}} style ="width: 274px; background-color:rgba(0,0,0,0.5); color: white" disabled>
									    	<input type="text" class="form-control" id="email" value={{orcamento.size.height}} style = "width: 275px;
									    	background-color:rgba(0,0,0,0.5); color: white" disabled>
									   		<input type="text" class="form-control" id="pwd" value = {{orcamento.size.width}} style = "width: 275px;
									   		background-color:rgba(0,0,0,0.5); color: white" disabled>
									 	</div>
									</form>

									<div class="panel-heading transparent">
										<div class="row-fluid user-row transparent">
											<input class="form-control resizedTextbox" id="Descricao" value={{orcamento.description}} style ="background-color:rgba(0,0,0,0.5); color: white" disabled>
										</div>
									</div>

									<div class="panel-heading">
										<div class="row-fluid user-row">
											<input class="form-control" placeholder="Valor" id="Valor" type="text" ng-model="Valor" style ="background-color:rgba(0,0,0,0); color: white">
										</div>
									</div>

									<div class="panel-heading transparent">
										<div class="row-fluid user-row transparent">
											<input class="form-control resizedTextbox" placeholder="cometario" id="cometario" ng-model="cometario" style ="background-color:rgba(0,0,0,0); color: white">
										</div>
									</div>

									<br></br>
									<div class="form-group ">
										<a style="background-color:#0c8494;" type="button" id="logingin-button" class="btn btn-primary btn-lg btn-block login-button" ng-click="cadastrar()">Responder orçamento</a>
									</div>

						</div>
					</div>
				</div>
			</div>
		</div>
					
	</body>
</html>
