body {
  background-image: url('../imagens/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-attachment: fixed;
};

.alinhar .img-responsive {
    margin: 0 auto;
};