body {
  background-image: url('../imagens/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-attachment: fixed;
}

.alinhar .img-responsive {
    margin: 0 auto;
}

.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.resizedTextbox {width: 10px; height: 100px};

           .card {
                display: flex;
                border: 2px solid green;
                height: 200px;
                width: 90%;
                margin: 0 auto;
            }
           
            .photoCard{
                display: inline-block;
                height: 100%;
                width: 40%;
                border: 2px solid red;
                overflow: hidden;
                position:relative;
            }
     
            .photoCard img {
                position: absolute;
                top: -9999px;
                left: -9999px;
                right: -9999px;
                bottom: -9999px;
                margin: auto;
            }
     
            .descCard{
                display: inline-block;
                padding-left: 10px;
                border: 2px solid blue;
                height: 100%;
                width: 60%;
                position: relative;
            }
     
            .priceDiv {
                border: 2px solid gray;
                float: right;
                position: absolute;
                bottom: 0;
                right: 0;
            }
     
            .titleOrder{
                font-size: 30px;
                font-weight: 600;
            }
     
            .descOrder{
                font-size: 20px;
                font-weight: 400;
            }
     
            .sizeOrder {
                font-size: 20px;
                font-weight: 400;
            }

