body {
  background-image: url('../imagens/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-attachment: fixed;
  font-family: "Calibri", Times;
}

div {

  border-radius: 10px;

}

.alinhar .img-responsive {
  margin: 0 auto;
}

.navbar {
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

